@import "../../../css/mixin";

.chat-header-section {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    color: #414141;
    position: relative;
    padding-left: 46px;
    padding-right: 47px;

    .chat-header-title {
        font-size: 25px;
        margin-bottom: 7px;
    }

    .chat-header-subtitle {
        color: #747474;
        font-size: 14px;
    }

    .delete-message {
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        left: 10px;
        width: 40px;
        cursor: pointer;
        img {
            display: table;
            width: 40px;
        }
    }
    .trade-detail--mobile {
        display: none;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        right: 10px;
        width: 40px;
        text-align: center;
        cursor: pointer;
        img {
            display: table;
            width: 20px;
            margin-right: 0px;
            margin-left: auto;
        }
    }
}

@include bp(800px){
    .chat-header-section {
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 0px;
        background: #fff;

        .chat-header-title {
            font-size: 18px;
            margin-bottom: 5px;
        }

        .chat-header-subtitle {
            font-size: 12px;
        }

        .delete-message {
            width: 30px;
            img {
                width: 30px;
            }
        }

        .trade-detail--mobile {
            display: block;
        }
    }
}
