.chat-list-section {
    text-align: left;

    .chat-row {
        margin: 20px;
        padding: 10px;
        font-size: 12px;
        display: flex;
    }

    .chat-row-content {
        flex: 1;
        background: #fff;
        border: 1px solid #e1e1e1;
        border-radius: 4px;
        padding: 15px;
        position: relative;
    }

    .chat-arrow {
        position: absolute;
        width: 10px;
        height: 10px;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        background: #fff;
        left: -6px;
        border-left: 1px solid #e1e1e1;
        border-bottom: 1px solid #e1e1e1;
    }

    .owner.chat-row .chat-arrow {
        left: auto;        
        background: #45505a;
        right: -6px;
        border: 0px;

    }

    .owner.chat-row {
        flex-direction: row-reverse;
    }

    .owner.chat-row .chat-row-content{
        background: #45505a;
        color: #fff;
        border: 1px solid #45505a;
    }

    .chat-avatar {
        margin-left: 0px;
        margin-right: 20px;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        overflow: hidden;

        img {
            height: 50px;
            width: 50px;
        }
    }
    .owner.chat-row .chat-avatar{
        margin-left: 20px;
        margin-right: 0px;
    }
}
