@import "../../../css/mixin";
.new-message {
    input[type="text"] {
        border: 0px;
        width: 100%;
        resize: none;
        outline: none;
        padding: 10px;
        font-family: inherit;
        padding-left: 40px;
    }

    input[type="text"]::placeholder {
        font-weight: 600;
    }

    box-sizing: border-box;
    width: 100%;
    padding: 15px;

    .content {
        border: 1px solid #ddd;
        display: flex;
        flex-direction: row;
    }

    .textbox {
        flex: 1;
    }

    .new-message-button {
        cursor: pointer;
        width: 50px;
        padding: 10px;
        color: #03A9F4;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-size: 12px;
        background: #fff;
        font-weight: 600;
    }

    @include bp(800px) {
        box-shadow: 0px -3px 9px 0px #cccccc;
        z-index: 1;
    };
}
