.new-message-card {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background: #fff;
    cursor: pointer;
    transition: transform 180ms;

    &:hover{
        background-color: #f6f7fa;
    }

    &.selected {
        background-color: #f6f7fa;        
    }

    .note {
        font-size: 12px;
        color: #4a4a4a;
    }

    .new-message--marker {
        width: 20px;
    }

    .new-message--meta {
        width: 80px;
    }

    .new-message--body {
        flex: 1;
    }

    .new-marker {
        background-color: #009688;
        height: 10px;
        width: 10px;
        border-radius: 100%;
    }

    .new-message--meta {
        display: flex;
        flex-direction: column;
        align-items: center;

        .status {
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 600;
            margin-top: 2px;
            color: #414141;

            &.paid {
                color: #009688;
            }
        }

        .avatar {
            border-radius: 100%;
            overflow: hidden;
            width: 50px;
            height: 50px;
            background: #f2f2f2;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .username {
        margin-bottom: 10px;
    }
    .tradename {
        margin-bottom: 5px;
    }
}
