@import "../../css/mixin";
.trade-detail-container {
    padding: 20px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;

    .user-detail--title {
        font-size: 18px;
        // margin-bottom: 10px;
    }

    .user-detail--sub-title {
        margin-bottom: 20px;
        font-size: 13px;
        color: #414141;
    }

    .user-detail-btn {
        background: #4caf50;
        color: #fff;
        border-radius: 20px;
        padding: 10px 10px;
        margin-bottom: 30px;
    }
    .user-detail-meta {
        display: flex;
        width: 100%;
        flex-wrap: wrap;

        &>div {
            flex: 1;
            flex-basis:50%;
            padding-top: 20px;
            padding-bottom: 20px;
            box-sizing: border-box;
            text-transform: uppercase;
            font-size: 12px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }

        .border-bottom {
            border-bottom: 1px solid #ddd;
        }

        .border-right {
            border-right: 1px solid #ddd;
        }
        .avatar {
            width: 50px;
            height: 50px;
            border-radius: 100%;
            overflow: hidden;

            img {
                width: 50px;
                height: 50px;
            }
        }
    }

    .back-to-chat--mobile {
        margin-top: 20px;
        text-align: center;
        display: none;
        .back-to-chat-btn {
            border: 1px solid #4caf50;
            color: #4caf50;
            border-radius: 10px;
            padding: 10px;
            width: 100px;
            display: inline-block;
        }

        @include bp(800px) {
            display: inline-block;
        };
    }
}
