@import "../css/mixin";

.layout--main {
    display: flex;
    flex-direction: column;
    flex:1;

    .header {
        box-shadow: 0px 3px 6px #e7e7e7;
        z-index: 1;

        .subheader-1 {
            height: 80px;
            background: #1b1b1b;
            align-items: center;
            display: flex;
        }

        .subheader-2 {
            height: 40px;
            background: #fff;
            display: flex;
            align-items: center;

            .tabs {
                display: flex;
                width: 100px;
                height: 100%;
                align-items: center;
                justify-content: center;
                border-right: 1px solid #ddd;
                color: #414141;
                text-decoration: none;
                font-weight: 600;
                font-size: 13px;

                &.selected {
                    background: #f2f2f2;
                }
            }
        }

        .subheader-1 a, .subheader-1 img {
            height: 100%;
        }
    }

    .container--main {
        display: flex;
        height: 100%;
        overflow: hidden;
        background: #f6f7fa;

        .left, .right {
            overflow: auto;
            display: inline-block;
            width: 25%;
            box-shadow: 4px 4px 7px #e7e7e7;
            background: #fff;
        }
        .right {
            box-shadow: -4px 4px 7px #e7e7e7;
        }
        .center {
            display: flex;
            flex-direction: column;
            width: 55%;
        }

        @include bp(800px){
            .center, .right {
                display: none;
            }

            .left {
                width: 100%;
            }
        };

    }

    &.trade-detail-active {
        @include bp(800px){
            .container--main {
                .left {
                    display: none;
                }

                .center {
                    display: flex;
                    width: 100%;
                }
            }
            .subheader-1 {
                display: none;
            }
            .subheader-2 {
                display: none;                
            }
        };
    }
}
